<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agen </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BismillahTpa.styles.css" asp-append-version="true" />

    <style>

        .button-header:hover {
            background-color: goldenrod;
        }

        .font-button:hover {
            color: white;
        }

        .button-header {
            border-radius: 10%;
            width: 100px;
            height: 45px;
            background-color: darkgoldenrod;
        }

        .font-button {
            font-size: 15px;
            color: white;
            text-decoration: none;
        }

        .but {
            background-color: darkblue;
            margin-right: 30px;
            display: flex;
            column-gap: 20px;
        }

        .text-head {
            background-color: darkblue;
        }


        .footer-clean {
            padding: 10px 0;
            background-color: honeydew;
            color: #4b4c4d;
            display: flex;
            justify-content: center;
            height: 150px;
        }

            .footer-clean h3 {
                margin-top: 0;
                margin-bottom: 12px;
                font-weight: bold;
                font-size: 16px;
            }

            .footer-clean ul {
                padding: 0;
                list-style: none;
                line-height: 1.6;
                font-size: 14px;
                margin-bottom: 0;
            }

                .footer-clean ul a {
                    color: inherit;
                    text-decoration: none;
                    opacity: 0.8;
                }

                    .footer-clean ul a:hover {
                        opacity: 1;
                    }

            .footer-clean .item.social {
                text-align: right;
            }

        @@media (max-width:767px) {
            .footer-clean .item {
                text-align: center;
                padding-bottom: 20px;
            }
        }

        @@media (max-width: 768px) {
            .footer-clean .item.social {
                text-align: center;
            }
        }

        .footer-clean .item.social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
        }

            .footer-clean .item.social > a:hover {
                opacity: 0.9;
            }

        @@media (max-width:991px) {
            .footer-clean .item.social > a {
                margin-top: 40px;
            }
        }

        @@media (max-width:767px) {
            .footer-clean .item.social > a {
                margin-top: 10px;
            }
        }

        .footer-clean .copyright {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 13px;
            opacity: 0.6;
        }

        .container-foot {
            display: flex;
            justify-content: space-between;
        }


        .header-shared {
            background-color: darkblue;
            align-items: center;
            height: 70px;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<body>
    <header class="header-shared">
        <div class="text-head">
            
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>